<% if current_user and can? :review, SessionProposal %>
  <div ng-cloak ng-controller="ReviewsController" ng-init="loadUserReviews()" fade-animation="true" class="row">
    <div ng-if="loading" class="loading">
      <p class="text-center"><span class="ion-loading-a"></span></p>
    </div>
    <div ng-if="!loading">
      <div ng-if="reviews.length == 0" class="no-search-results">
        <h2 class="text-center"><%= t('sessions.labels.no_reviews_yet') %></h2>
      </div>

      <div ng-if="reviews.length > 0" fade-animation="true">
        <h2 class="text-center"><%= t('sessions.labels.my_reviewed_sessions') %></h2><br><br>

        <div ng-repeat="review in reviews" class="row session-summary">
          <div class="col-sm-2 text-center">
            <div class="review-big-score center-block" ng-class="{'bg-green': goodReview(review.score), 'bg-yellow': poorReview(review.score), 'bg-red': badReview(review.score)}">
              <span ng-class="{'for-green': goodReview(review.score), 'for-yellow': poorReview(review.score), 'for-red': badReview(review.score)}">{{review.score}}</span>
            </div>
          </div>
          <div class="col-sm-10">
            <div class="col-sm-10">
              <h3>{{review.session_proposal_title}}</h3>
              <div class="author">{{review.session_proposal_author}}</div>
              <p>{{review.body}}</p>
              <div ng-if="review.second_reviewer != null">
                <small><%= t('reviews.labels.reviewed_with') %> <strong>{{review.second_reviewer}}</strong></small>
              </div>
            </div>
            <div class="col-sm-2 text-right" style="margin-top:25px">
              <a ng-href="#/sessions/review/{{review.session_proposal_id}}" class="btn btn-xs btn-success" style="color:white" ng-disabled="!isPendingReview(review.status)">
                <%= t('reviews.buttons.edit') %> &nbsp; 
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
              </a>
              <a ng-href="#/sessions/show/{{review.session_proposal_id}}" class="btn btn-xs btn-primary" style="margin-top:15px">
                <%= t('sessions.buttons.show_session') %> &nbsp;
                <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <div class="no-review-access">
    <h4 class="text-muted text-center">
      <%= t('sessions.no_access.reviews') %> <br><br>
      <span class="ion-sad"></span>
    </h4>
  </div>
<% end %>
