<% if current_user and can? :review, SessionProposal %>
  <div ng-cloak ng-controller="ReviewsController" ng-init="loadUserReviews()" animate-with="fadeIn" class="row">
    <div ng-if="loading" class="loading">
      <p class="text-xs-center"><span class="fa fa-spinner fa-pulse"></span></p>
    </div>
    <div ng-if="!loading">
      <div ng-if="reviews.length == 0" class="no-search-results">
        <h2 class="text-xs-center"><%= t('sessions.labels.no_reviews_yet') %></h2>
      </div>

      <div ng-if="reviews.length > 0" animate-with="fadeIn">
        <h2 class="text-xs-center"><%= t('sessions.labels.my_reviewed_sessions') %></h2><br><br>

        <div ng-repeat="review in reviews" class="row session-summary">
          <div class="col-sm-2 text-xs-center">
            <div class="review-big-score center-block" ng-style="{'background-color': review.score.bgColor, 'color': review.score.color}">
              <span>{{review.score.text}}</span>
            </div>
          </div>
          <div class="col-sm-10">
            <div class="col-sm-10">
              <h3>{{review.session_proposal_title}}</h3>
              <div class="author">{{review.session_proposal_author}}</div>
              <div ng-if="review.second_reviewer != null" style="margin-top:-10px">
                <small><%= t('reviews.labels.reviewed_with') %> <strong>{{review.second_reviewer}}</strong></small>
              </div><br>

              <label><%= t('reviews.labels.public_feedback') %></label>
              <p markdown="review.body"></p>
              <hr>
              <label><%= t('reviews.labels.comment_for_admins') %></label>
              <p markdown="review.private_body"></p><br>
            </div>
            <div class="col-sm-2 text-right" style="margin-top:25px">
              <a ng-href="#/sessions/review/{{review.session_proposal_id}}" class="btn btn-sm btn-success" style="color:white" ng-disabled="!isPendingReview(review.status)">
                <%= t('reviews.buttons.edit') %> &nbsp; 
                <span class="fa fa-pencil" aria-hidden="true"></span>
              </a>
              <a ng-href="#/sessions/show/{{review.session_proposal_id}}" class="btn btn-sm btn-primary" style="margin-top:15px">
                <%= t('sessions.buttons.show_session') %> &nbsp;
                <span class="fa fa-file" aria-hidden="true"></span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <div class="no-review-access">
    <h4 class="text-muted text-xs-center">
      <%= t('sessions.no_access.reviews') %> <br><br>
      <span class="fa fa-frown-o"></span>
    </h4>
  </div>
<% end %>
