<div ng-cloak ng-init="sessions()" fade-animation="true" class="row">
  <div ng-if="loading" class="loading">
    <p class="text-center"><span class="ion-loading-a"></span></p>
  </div>
  <div ng-if="!loading">
    <div ng-if="sessions.length == 0" class="no-search-results">
      <h2 class="text-center">
        <%= t('sessions.labels.no_sessions_yet') %><br><br>
      </h2>
      <div class="action-button-container">
        <a class="img-circle btn-action primary" href="<%= root_url + '#/sessions/new' %>">
          <span class="ion-plus-round icon" aria-hidden="true"></span>
        </a>
      </div>
    </div>

    <div ng-if="sessions.length > 0" class="col-sm-offset-1 col-sm-10"><br><br>
      <h2 class="text-center"><%= t('sessions.labels.my_sessions') %></h2><br><br>

      <div ng-repeat="session in sessions" class="session-summary" fade-animation="true">
        <h3>
          <a ng-href="#/sessions/show/{{session.id}}">{{session.title}}</a>
          <a ng-href="#/sessions/edit/{{session.id}}" class="btn btn-xs btn-success pull-right" style="color:white;margin:10px">
            <%= t('sessions.buttons.edit_session') %> &nbsp; 
            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
          </a>
        </h3>
        <div class="track">{{session.theme}} - {{session.track}}</div>
        <p markdown="session.summary"></p>
        <div>
          <ul class="list-inline">
            <li ng-repeat="tag in session.tags track by $index" class="tag sm bg-primary">{{tag}}</li>
            <li class="pull-right" ng-if="session.video_link != null && session.video_link != ''" title="{{session.video_link}}">
              <a class="video-link" ng-href="{{session.video_link}}" target="_blank">
                <span class="ion-videocamera">&nbsp;</span><%= t('sessions.labels.video') %>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div style="margin-top:100px"></div>
      <div id="bottom-fade"></div>
    </div>
  </div>
</div>
