<div ng-cloak ng-init="voted_sessions()" fade-animation="true" class="row">
  <div ng-if="loading" class="loading">
    <p class="text-xs-center"><span class="ion-loading-a"></span></p>
  </div>
  <div ng-if="!loading">
    <div ng-if="sessions.length == 0" class="no-search-results">
      <h2 class="text-xs-center">
        <%= t('sessions.labels.no_vote_yet.primary', count: MaxSessionProposalVotes) %><br><br>
        <small>
          <%= t('sessions.labels.no_fav_yet.secondary', span: '<span class="ion-ios7-circle-outline text-success" style="font-size:150%"></span>').html_safe %>
        </small> <br><br>
      </h2>
      <div class="home-button-container">
        <a class="img-circle home-button text-xs-center" href="<%= root_url + '#/sessions' %>">
          <span class="glyphicon glyphicon-thumbs-up icon" aria-hidden="true"></span><br>
          <span class="text"><%= t('sessions.buttons.vote') %></span>
        </a>
      </div>
    </div>

    <div ng-if="sessions.length > 0" class="col-sm-offset-1 col-sm-10"><br><br>
      <h2 class="text-xs-center"><%= t('sessions.labels.my_voted_sessions') %></h2><br><br>

      <div ng-repeat="session in sessions" class="session-summary" fade-animation="true">
        <h3>
          <a ng-href="#/sessions/show/{{session.id}}">{{session.title}}</a>
          <a ng-click="remove_vote(session.id)" class="btn btn-sm btn-danger pull-xs-right" style="color:white;margin:5px">
            <%= t('sessions.buttons.unvote_session') %> &nbsp; 
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          </a>
        </h3>
        <div class="track">{{session.theme}} - {{session.track}}</div>
        <div>
          <ul class="list-inline">
            <li ng-repeat="tag in session.tags track by $index" class="tag sm bg-primary">{{tag}}</li>
            <li class="pull-xs-right" ng-if="session.video_link != null && session.video_link != '' && session.video_link != '-'" title="{{session.video_link}}">
              <a class="video-link" ng-href="{{session.video_link}}" target="_blank">
                <span class="ion-videocamera">&nbsp;</span><%= t('sessions.labels.video') %>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div style="margin-top:100px"></div>
      <div id="bottom-fade"></div>
    </div>
  </div>
</div>
