<div class="container-fluid" ng-cloak ng-init="init()" animate-with="fadeIn">
  <div class="col-sm-10">
    <h3><%= t('notifications.labels.title') %></h3><br>

    <table class="table table-hover table-sm" ng-if="sessions.length > 0">
      <thead>
        <th width="40%"><%= t('notifications.labels.session') %></th>
        <th width="30%">
          <%= t('notifications.labels.reviews') %> &nbsp;
          <span class="clickable text-primary fa fa-arrow-up" ng-click="toggleSort()" ng-if="isTopSort()" tooltip="top|Sort by number of evaluations"></span>
          <span class="clickable text-primary fa fa-arrow-down" ng-click="toggleSort()" ng-if="isBottomSort()" tooltip="top|Sort by number of evaluations"></span>
        </th>
        <th width="20%"></th>
        <th width="10%"></th>
      </thead>
      <tr ng-repeat="session in sessions | orderBy:sort.expression" class="notifications-summary" ng-class="{'success': isAcceptedSession(session.status), 'danger': isDeclinedSession(session.status)}" ng-show="isVisibleTheme(session.theme)">
        <td class="session">
          <h6>
            <a ng-href="#/sessions/show/{{session.id}}" target="_blank">
              {{session.title}}
            </a><br>
            <small><i>{{session.author}}</i></small>
          </h6>
        </td>
        <td>
          <ul ng-repeat="review in session.reviews">
            <li class="reviews">              
              {{review.reviewer}} <br> <small>{{review.second_reviewer}}</small>

              (<span ng-class="{'text-success': goodReview(review.score), 'text-danger': poorReview(review.score), ' -refresh text-warning': badReview(review.score)}">{{review.score}}</span>)

              &nbsp;<span ng-class="{'fa fa-check text-success': isAcceptedReview(review.status), 'fa fa-times text-danger': isRejectedReview(review.status), 'fa fa-refresh text-warning': isPendingReview(review.status)}" style="font-size:110%"></span>
            </li>
          </ul>
        </td>
        <td class="status">
          <div ng-if="!isNewSession(session.status)" ng-class="{'text-success': isAcceptedSession(session.status), 'text-danger': isDeclinedSession(session.status)}">
            <strong>{{session.status}}</strong> on {{session.notified_on | date: 'mediumDate'}}
          </div>
        </td>
        <td class="actions">
          <div class="pull-xs-right">
            <button type="button" class="btn btn-sm btn-success" data-toggle="modal" data-target="#emailComposerModal" ng-disabled="isDeclinedSession(session.status)" ng-click="getAcceptanceTemplateFor(session)">
              <span class="fa fa-check"></span>&nbsp;<%= t('notifications.buttons.accept.text') %>
            </button><br>
            <button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#emailComposerModal" ng-disabled="isAcceptedSession(session.status)" ng-click="getDenialTemplateFor(session)">
              <span class="fa fa-times"></span>&nbsp;<%= t('notifications.buttons.decline.text') %>
            </button>
          </div>
        </td>
      </tr>
    </table>
  </div>
  <div ng-include="'templates/notifications/acceptance_email_composer.html'"></div>
  <div ng-include="'templates/themes_list.html'"></div>
</div>
