<div class="container" ng-cloak ng-init="init()" fade-animation="true">
  <div class="col-sm-10">
    <h3><%= t('notifications.labels.title') %></h3><br>

    <table class="table table-hover table-condensed" ng-if="sessions.length > 0">
      <thead>
        <th width="40%"><%= t('notifications.labels.session') %></th>
        <th width="30%">
          <%= t('notifications.labels.reviews') %>
          <span class="clickable text-primary glyphicon glyphicon-triangle-top" ng-click="toggleSort()" ng-if="isTopSort()" title="Sort by number of evaluations"></span>
          <span class="clickable text-primary glyphicon glyphicon-triangle-bottom" ng-click="toggleSort()" ng-if="isBottomSort()" title="Sort by number of evaluations"></span>
        </th>
        <th width="20%"></th>
        <th width="10%"></th>
      </thead>
      <tr ng-repeat="session in sessions | orderBy:sort.expression" class="notifications-summary" ng-class="{'success': isAcceptedSession(session.status), 'danger': isDeclinedSession(session.status)}" ng-show="isVisibleTheme(session.theme)">
        <td class="session">
          <h4>
            <a ng-href="#/sessions/show/{{session.id}}" target="_blank">
              {{session.title}}
            </a><br>
            <small><i>{{session.author}}</i></small>
          </h4>
        </td>
        <td>
          <ul ng-repeat="review in session.reviews">
            <li class="reviews">              
              {{review.reviewer}} <br> <small>{{review.second_reviewer}}</small>

              (<span ng-class="{'text-success': goodReview(review.score), 'text-danger': poorReview(review.score), ' -refresh text-warning': badReview(review.score)}">{{review.score}}</span>)

              &nbsp;<span ng-class="{'glyphicon glyphicon-ok text-success': isAcceptedReview(review.status), 'glyphicon glyphicon-remove text-danger': isRejectedReview(review.status), 'glyphicon glyphicon-refresh text-warning': isPendingReview(review.status)}" style="font-size:110%"></span>
            </li>
          </ul>
        </td>
        <td class="status">
          <div ng-if="!isNewSession(session.status)" ng-class="{'text-success': isAcceptedSession(session.status), 'text-danger': isDeclinedSession(session.status)}">
            <strong>{{session.status}}</strong> on {{session.notified_on | date: 'mediumDate'}}
          </div>
        </td>
        <td class="actions">
          <div class="pull-right">
            <button class="btn btn-xs btn-success" confirmed-action="acceptSession(session)" confirm-click="<%= t('notifications.buttons.accept.confirmation') %>" ng-disabled="isDeclinedSession(session.status)">
              <span class="glyphicon glyphicon-ok"></span>&nbsp;<%= t('notifications.buttons.accept.text') %>
            </button><br>
            <button class="btn btn-xs btn-danger" confirmed-action="declineSession(session)" confirm-click="<%= t('notifications.buttons.decline.confirmation') %>" ng-disabled="isAcceptedSession(session.status)">
              <span class="glyphicon glyphicon-remove"></span>&nbsp;<%= t('notifications.buttons.decline.text') %>
            </button>
          </div>
        </td>
      </tr>
    </table>
  </div>
  <div ng-include="'templates/themes_list.html'"></div>
</div>
