<br><br>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "form-horizontal" }) do |f| %>
  <%= devise_error_messages! %>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="form-group">
    <label for="input-firstname" class="col-sm-2 control-label">Nombre</label>
    <div class="col-sm-6">
      <%= f.text_field :first_name, class: "form-control", id: "input-firstname", placeholder: "Nombre" %>
    </div>
  </div>

  <div class="form-group">
    <label for="input-lastname" class="col-sm-2 control-label">Apellido</label>
    <div class="col-sm-6">
      <%= f.text_field :last_name, class: "form-control", id: "input-lastname", placeholder: "Apellido" %>
    </div>
  </div>

  <div class="form-group">
    <label for="input-country" class="col-sm-2 control-label">Pais</label>
    <div class="col-sm-6">
      <%= f.select :country, options_for_select(["Argentina", "Bolivia", "Colombia", "Ecuador"], :selected => f.object.country), {}, { class: "form-control selectpicker", id: "input-country" } %>
    </div>
  </div>

  <div class="form-group">
    <label for="input-email" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-6">
      <%= f.email_field :email, class: "form-control", id: "input-email", placeholder: "Email" %>
    </div>
  </div>

  <div class="form-group">
    <label for="input-password" class="col-sm-2 control-label">Contraseña</label>
    <div class="col-sm-6">
      <%= f.password_field :password, autocomplete: "off", class: "form-control", id: "input-password", placeholder: "Contraseña" %>
      <small class="text-muted">déjala en blanco si no deseas cambiarla</small>
    </div>
  </div>

  <div class="form-group">
    <label for="input-password2" class="col-sm-2 control-label">Repetir Contraseña</label>
    <div class="col-sm-6">
      <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", id: "input-password2", placeholder: "Contraseña" %>
    </div>
  </div>

  <div class="form-group">
    <label for="input-website" class="col-sm-2 control-label">Website</label>
    <div class="col-sm-6">
      <%= f.url_field :website, class: "form-control", id: "input-website", placeholder: "Website" %>
    </div>
  </div>

  <div class="form-group">
    <label for="input-bio" class="col-sm-2 control-label">Bio</label>
    <div class="col-sm-6">
      <%= f.text_area :bio, class: "form-control", id: "input-bio", placeholder: "Bio", rows: 10 %>
    </div>
  </div>

  <div class="row"><div class="col-sm-offset-2 col-sm-6"><hr></div></div>

  <div class="form-group">
    <label for="input-password3" class="col-sm-2 control-label">Contraseña Actual</label>
    <div class="col-sm-6">
      <%= f.password_field :current_password, autocomplete: "off", class: "form-control", id: "input-password3", placeholder: "Contraseña" %>
      <small class="text-muted">necesitas ingresar tu contraseña actual para poder confirmar algún cambio</small>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-6">
      <button type="submit" class="btn btn-primary">Guardar</button>
      <div class="btn btn-default"><%= link_to "Volver", :back %></div>
      <br><hr>
      <%= link_to "<span class='glyphicon glyphicon-trash' aria-hidden='true'></span> &nbsp; Borrar mi cuenta".html_safe, registration_path(resource_name), data: { confirm: "Tu cuenta será borrada de forma permanente y no tiene vuelta atrás. Deseas borrarla?" }, method: :delete, class: "btn btn-danger pull-right" %>
    </div>
  </div>
<% end %>
