<br><br>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "form-horizontal" }) do |f| %>
  <%= devise_error_messages! %>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="form-group">
    <label for="inputFirstName" class="col-sm-2 control-label">Nombre</label>
    <div class="col-sm-6">
      <%= f.text_field :first_name, class: "form-control", id: "inputFirstName", placeholder: "Nombre" %>
    </div>
  </div>

  <div class="form-group">
    <label for="inputLastName" class="col-sm-2 control-label">Apellido</label>
    <div class="col-sm-6">
      <%= f.text_field :last_name, class: "form-control", id: "inputLastName", placeholder: "Apellido" %>
    </div>
  </div>

  <div class="form-group">
    <label for="inputCountry" class="col-sm-2 control-label">Pais</label>
    <div class="col-sm-6">
      <%= f.select :country, options_for_select(["Argentina", "Bolivia", "Colombia", "Ecuador"]), class: "form-control", id: "inputCountry" %>
    </div>
  </div>

  <div class="form-group">
    <label for="inputEmail" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-6">
      <%= f.email_field :email, class: "form-control", id: "inputEmail", placeholder: "Email" %>
    </div>
  </div>

  <div class="form-group">
    <label for="inputPassword" class="col-sm-2 control-label">Contraseña</label>
    <div class="col-sm-6">
      <%= f.password_field :password, autocomplete: "off", class: "form-control", id: "inputPassword", placeholder: "Contraseña" %>
      <small class="text-muted">déjala en blanco si no deseas cambiarla</small>
    </div>
  </div>

  <div class="form-group">
    <label for="inputPassword2" class="col-sm-2 control-label">Repetir Contraseña</label>
    <div class="col-sm-6">
      <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", id: "inputPassword2", placeholder: "Contraseña" %>
    </div>
  </div>

  <div class="form-group">
    <label for="inputWebsite" class="col-sm-2 control-label">Website</label>
    <div class="col-sm-6">
      <%= f.url_field :website, class: "form-control", id: "inputWebsite", placeholder: "Website" %>
    </div>
  </div>

  <div class="form-group">
    <label for="inputBio" class="col-sm-2 control-label">Bio</label>
    <div class="col-sm-6">
      <%= f.text_area :bio, class: "form-control", id: "inputBio", placeholder: "Bio", rows: 10 %>
    </div>
  </div>

  <div class="row"><div class="col-sm-offset-2 col-sm-6"><hr></div></div>

  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">Contraseña Actual</label>
    <div class="col-sm-6">
      <%= f.password_field :current_password, autocomplete: "off", class: "form-control", id: "inputPassword3", placeholder: "Contraseña" %>
      <small class="text-muted">necesitas tu contraseña actual para confirmar tus cambios</small>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-6">
      <button type="submit" class="btn btn-primary">Guardar</button>
      <div class="btn btn-default"><%= link_to "Cancelar", :back %></div>
      <br><hr>
      <%= link_to "Borrar mi cuenta", registration_path(resource_name), data: { confirm: "Tu cuenta será borrada de forma permanente y no tiene vuelta atrás. Deseas borrarla?" }, method: :delete, class: "btn btn-danger" %>
    </div>
  </div>
<% end %>
