<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "form-horizontal" }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <label for="inputFirstName" class="col-sm-2 control-label">Nombre</label>
    <div class="col-sm-6">
      <%= f.text_field :first_name, class: "form-control", id: "inputFirstName", placeholder: "Nombre" %>
    </div>
  </div>

  <div class="form-group">
    <label for="inputLastName" class="col-sm-2 control-label">Apellido</label>
    <div class="col-sm-6">
      <%= f.text_field :last_name, class: "form-control", id: "inputLastName", placeholder: "Apellido" %>
    </div>
  </div>

  <div class="form-group">
    <label for="inputCountry" class="col-sm-2 control-label">Pais</label>
    <div class="col-sm-6">
      <%= f.select :country, options_for_select(["Argentina", "Bolivia", "Colombia", "Ecuador"]), {}, { class: "form-control selectpicker", id: "inputCountry" } %>
    </div>
  </div>

  <div class="form-group">
    <label for="inputEmail" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-6">
      <%= f.email_field :email, class: "form-control", id: "inputEmail", placeholder: "Email" %>
    </div>
  </div>

  <div class="form-group">
    <label for="inputPassword" class="col-sm-2 control-label">Contraseña</label>
    <div class="col-sm-6">
      <%= f.password_field :password, autocomplete: "off", class: "form-control", id: "inputPassword", placeholder: "Contraseña" %>
      <% if @validatable %>
        <small class="text-muted"><%= @minimum_password_length %> caracteres mínimo</small>
      <% end %>
    </div>
  </div>

  <div class="form-group">
    <label for="inputPassword2" class="col-sm-2 control-label">Repetir Contraseña</label>
    <div class="col-sm-6">
      <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", id: "inputPassword2", placeholder: "Contraseña" %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-6">
      <button type="submit" class="btn btn-primary">Sign up</button>
    </div>
  </div>
<% end %>
<!-- 
<%= render "devise/shared/links" %>
 -->