<div class="container marketing" ng-cloak animate-with="fadeIn">
  <div class="row">
    <div class="col-sm-12">
      <h2><%= t('home.announcement.title') %></h2>
      <p class="lead"><%= t('home.announcement.body').html_safe %></p>
    </div>
  </div>
  <hr>

  <div class="row">
    <% if current_user %>
      <div class="col-xs-6">
        <% if can? :create, SessionProposal %>
          <div class="home-button-container">
            <a class="img-circle home-button" href="<%= root_url + '#/sessions/new' %>">
              <span class="fa fa-pencil icon" aria-hidden="true"></span><br>
              <span class="text"><%= t('home.propose.title') %></span>
            </a>
          </div>
          <p class="home-button-text text-sm-center hidden-xs"><%= t('home.propose.paragraph') %></p>
        <% else %>
          <div class="home-button-container">
            <a class="img-circle home-button-disabled">
              <span class="fa fa-pencil icon" aria-hidden="true"></span><br>
              <span class="text"><%= t('home.propose.title') %></span>
            </a>
          </div>
          <p class="home-button-text text-sm-center hidden-xs"><%= t('home.propose.due_date_paragraph').html_safe %></p>
        <% end %>
      </div>
      <div class="col-xs-6">
        <div class="home-button-container">
          <a class="img-circle home-button" href="<%= root_url + '#/sessions' %>">
            <span class="fa fa-thumbs-o-up icon" aria-hidden="true"></span><br>
            <span class="text"><%= t('home.vote.title') %></span>
          </a>
        </div>
        <p class="home-button-text text-sm-center hidden-xs"><%= t('home.vote.paragraph') %></p>
      </div>
    <% else %>
      <div class="col-xs-12">
        <div class="home-button-container">
          <a class="img-circle home-button" href="<%= root_url + '#/sessions' %>">
            <span class="fa fa-users icon" aria-hidden="true"></span><br>
            <span class="text"><%= t('home.explore.title') %></span>
          </a>
        </div>
        <p class="home-button-text text-sm-center hidden-xs"><%= t('home.explore.paragraph') %></p>
      </div>
    <% end %>
  </div>
</div>
