<div class="modal fade bs-example-modal-lg" id="tweetModal" tabindex="-1" role="dialog" data-backdrop="static" ng-controller="NotificationsController">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4><%= t('share.twitter.title').html_safe %></h4>
      </div>
      <div class="modal-body">
        <%= t('share.twitter.subtitle').html_safe %> <br><br>
        <textarea type="text" rows="4" class="form-control tweet-box" placeholder="<%= t('share.twitter.body').html_safe %>" ng-model="tweetMessage"></textarea>
        <div class="text-xs-right">
          <small><span tweet-text-count></span></small>
        </div>
      </div>
      <div class="modal-footer">
        <div class="text-xs-left">
          <small><%= t('share.twitter.footer').html_safe %></small>
        </div><br>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          <%= t('notifications.buttons.cancel') %>
        </button>
        <button class="btn btn-twitter" ng-click="tweet()" ng-disabled="tweeting">
          <%= t('share.twitter.button') %> &nbsp;<span ng-if="!tweeting" class="fa fa-twitter"></span><span ng-if="tweeting" class='fa fa-spinner fa-pulse fa-3x fa-fw spinner-social-share'></span>
        </button>
      </div>
    </div>
  </div>
</div>
