<% if current_user %>
  <span class="actions pull-right clickable">
    <span id="vote-btn" ng-click="vote($index)" ng-if="!session.voted && availableVotes > 0" data-index="{{$index}}"
      class="ion-ios7-circle-outline text-success" helpable="<%= t('sessions.help.vote') %>">
    </span>
    <span ng-click="vote($index)" ng-if="session.voted" class="ion-checkmark-circled text-success" 
      helpable="<%= t('sessions.help.vote') %>" data-index="{{$index}}"></span>
    <span ng-click="fav($index)" ng-if="!session.faved" class="ion-ios7-star-outline text-warning" 
      helpable="<%= t('sessions.help.fav') %>" data-index="{{$index}}"></span>
    <span ng-click="fav($index)" ng-if="session.faved" class="ion-ios7-star text-warning" 
      helpable="<%= t('sessions.help.fav') %>" data-index="{{$index}}">
    </span>
    <% if current_user and can? :review, SessionProposal %>
      <a ng-href="#/sessions/review/{{session.id}}">
        <span class="ion-compose text-success" title="<%= t('sessions.buttons.start_review') %>"></span>
      </a>
    <% end %>
  </span>
<% end %>
