<% if current_user %>
  <div class="row session-comment" ng-repeat="comment in session.comments" fade-animation="true">
    <div class="col-sm-2 text-center ">
      <img ng-src="{{comment.author.avatar_url}}" class="avatar lg img-circle">
      <div class="author">{{comment.author.name}}</div>
      <div class="text-muted date" time-from-now="comment.date"></div>
    </div>
    <div class="col-sm-8">
      <p>{{comment.body}}</p>
    </div>
    <div class="col-sm-12"><hr></div>
  </div>

  <div class="row session-comment" fade-animation="true">
    <div class="col-sm-2 text-center">
      <%= image_tag(current_user.avatar_url, :class => 'avatar lg img-circle', :alt => current_user.email) %>
    </div>
    <div class="col-sm-8">
      <textarea type="text" class="form-control" placeholder="<%= t('sessions.placeholders.comment') %>" ng-model="newSessionComment.body" rows="4"></textarea><br>
      <button class="btn btn-primary pull-right" ng-click="postComment()">
        <%= t('sessions.buttons.comment') %>
      </button>
    </div>
  </div>
<% else %>
  <div class="col-sm-offset-4 col-sm-4 social-login-container text-center" style="padding:10px">
    <p class="text-muted"><%= t('sessions.labels.sign_in_to_post') %></p>
    <%= link_to t('sessions.buttons.sign_in'), new_user_session_path, class: "btn btn-primary" %>
  </div>
<% end %>
