<div ng-cloak ng-init="getSessionVotedAndFavedIds()" fade-animation="true" class="row"><br><br>
  <div sticky offset="10" class="row search-unsticked" sticky-class="search-sticked" ng-cloak ng-init="search()">
    <div class="col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6 form-group has-feedback">
      <input type="text" class="form-control" 
        ng-model="searchTerms" 
        ng-model-options="{ debounce: 1000 }"
        ng-change="search()"
        helpable="<%= t('sessions.help.search') %>">
      <span class="glyphicon glyphicon-search form-control-feedback" style="margin-right:15px" aria-hidden="true"></span>
      <p ng-if="searchTerms != '' && total != 0" class="text-muted text-center" fade-animation="true">
        <small><i>{{total}} matching results</i></small>
      </p>
    </div>
  </div>

  <div class="col-md-8">
    <div ng-if="loading" class="loading">
      <p class="text-center"><span class="ion-loading-a"></span></p>
    </div>
    <div ng-if="!loading" ng-include="'templates/sessions/search_result.html'"></div>
  </div>

  <div sticky offset="60" sticky-class="buttons-sticked" class="col-md-offset-1 col-md-3">
    <div class="action-button-container">
      <a class="img-circle btn-action info non-clickable" rubber-band-animation="availableVotes" helpable="<%= t('sessions.help.vote_count') %>">
        <span class="text" aria-hidden="true">{{availableVotes}}</span>
      </a>
      <div class="divisor"></div>
      <a class="img-circle btn-action info" toggle-help title="Mostrar ayuda">
        <span class="text" aria-hidden="true">?</span>
      </a>
      <div class="divisor"></div>
      <a class="img-circle btn-action primary" href="<%= root_url + '#/sessions/new' %>" helpable="<%= t('sessions.help.create_session') %>">
        <span class="ion-plus-round icon" aria-hidden="true"></span>
      </a>
    </div>
    <br><br>
    <div ng-if="matched_tags.length > 0" class="text-center">
      <h3><%= t('sessions.labels.matching_tags') %></h3>
      <ul class="list-inline">
        <li ng-repeat="tag in matched_tags track by $index" class="tag lg bg-primary clickable" ng-click="search(tag.key)">
          {{tag.key}} <small>({{tag.doc_count}})</small>
        </li>
      </ul>
    </div>
  </div>
</div>
