<% if current_user and can? :review, SessionProposal %>
  <div ng-cloak ng-controller="ReviewsController" ng-init="initReviewForm()" fade-animation="true">
    <div class="row session-detail">
      <div class="col-sm-2 text-center">
        <img ng-src="{{session.author.avatar_url}}" class="avatar lg img-circle">
        <div class="author">{{session.author.name}}</div>
        <div class="text-muted date" time-from-now="session.date"></div>
      </div>
      <div class="col-sm-8">
        <h2>{{session.title}}</h2>
        <div class="row">
          <div class="track col-sm-6">{{session.theme}} - {{session.track}}</div>
          <div class="col-sm-6 audience text-right">
            <span class="count ion-person-stalker"></span>&nbsp;{{session.audience_count || "-"}}&nbsp;&nbsp;
            <span class="glyphicon glyphicon-tag"></span>&nbsp;{{session.audience}}
          </div>
        </div>
        <ul class="list-inline">
          <li ng-repeat="tag in session.tags track by $index" class="tag sm bg-primary">{{tag.name}}</li>
          <li class="pull-right" ng-if="session.video_link != null && session.video_link != '' && session.video_link != '-'" title="{{session.video_link}}">
            <a class="video-link" ng-href="{{session.video_link}}" target="_blank">
              <span class="ion-videocamera">&nbsp;</span><%= t('sessions.labels.video') %>
            </a>
          </li>
        </ul>

        <label><%= t('sessions.labels.summary') %></label>
        <p markdown="session.summary"></p>

        <label><%= t('sessions.labels.description') %></label>
        <p markdown="session.description"></p>
      </div>
    </div>
    <br><hr>

    <div class="row text-center" ng-init="showProfile = false">
      <div class="btn btn-default btn-sm" ng-click="showProfile = !showProfile">
        {{ showProfile ? 'Hide' : 'Show'}} {{session.author.name}}'s profile
      </div>
      <div ng-include="'templates/users/profile_summary.html'" ng-if="showProfile"></div>
    </div>
    <hr>

    <div class="row session-comment" fade-animation="true">
      <div class="col-sm-2 text-center">
        <%= image_tag(current_user.avatar_url, :class => 'avatar lg img-circle', :alt => current_user.email) %>
      </div>
      <div class="col-sm-8 form-horizontal">
        <div class="form-group">
          <label class="col-sm-2 control-label"><%= t('reviews.labels.pair_reviewer') %></label>
          <div class="col-sm-10" ng-class="{'invalid-border': newSessionReview.invalidSecondReviewer}">
            <select ng-options="reviewer.full_name for reviewer in newSessionReview.reviewers track by reviewer.id" ng-model="newSessionReview.secondReviewer" class="form-control selectpicker"></select>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label"><%= t('reviews.labels.public_feedback') %></label>
          <div class="col-sm-10">
            <p ng-if="!isPendingOrNewReview(newSessionReview.status)" ng-class="{'text-success': isAcceptedReview(newSessionReview.status), 'text-danger': isRejectedReview(newSessionReview.status)}">
              <%= t('reviews.labels.has_already_been') %> {{newSessionReview.status}}
            </p>
            <textarea type="text" class="form-control" placeholder="<%= t('sessions.placeholders.review_feedback_for_author') %>" ng-model="newSessionReview.body" rows="5" ng-class="{'invalid-border': newSessionReview.invalidBody}" ng-disabled="!isPendingOrNewReview(newSessionReview.status)"></textarea>
          </div>
        </div>        
        <div class="form-group">
          <label class="col-sm-2 control-label"><%= t('reviews.labels.comment_for_admins') %></label>
          <div class="col-sm-10">
            <textarea type="text" class="form-control" placeholder="<%= t('sessions.placeholders.review_comment_for_admins') %>" ng-model="newSessionReview.private_body" rows="5" ng-class="{'invalid-border': newSessionReview.invalidPrivateBody}" ng-disabled="!isPendingOrNewReview(newSessionReview.status)"></textarea>
          </div>
        </div>        
        <div class="form-group">
          <label class="col-sm-2 control-label"><%= t('sessions.labels.score') %></label>
          <div class="col-sm-10" ng-class="{'invalid-border': newSessionReview.invalidScore}">
            <select ng-options="score.text for score in validReviewScores track by score.value" ng-model="newSessionReview.score" ng-disabled="!isPendingOrNewReview(newSessionReview.status)"class="form-control selectpicker"></select>
          </div>
        </div>        

        <button class="btn btn-primary pull-right" ng-click="postReview()" ng-disabled="!isPendingOrNewReview(newSessionReview.status)">
          <%= t('sessions.buttons.submit_review') %>
        </button>
      </div>
    </div>

    <div class="col-sm-10 text-right" style="padding-right:5px;margin:20px 0"><hr>
      <div class="btn btn-default">
        <%= link_to t('sessions.buttons.cancel'), "#/sessions/show/{{session.id}}" %>
      </div>
    </div>
  </div>
<% else %>
  <div class="no-review-access">
    <h4 class="text-muted text-center">
      <%= t('sessions.no_access.reviews') %> <br><br>
      <span class="ion-sad"></span>
    </h4>
  </div>
<% end %>