<% if current_user and can? :review, SessionProposal %>
  <div ng-cloak ng-init="review()" fade-animation="true" class="row">
    <div class="row session-detail">
      <div class="col-sm-2 text-center">
        <img ng-src="{{session.author.avatar_url}}" class="avatar lg img-circle">
        <div class="author">{{session.author.name}}</div>
        <div class="text-muted date" time-from-now="session.date"></div>
      </div>
      <div class="col-sm-8">
        <h2>{{session.title}}</h2>
        <div class="row">
          <div class="track col-sm-6">{{session.theme}} - {{session.track}}</div>
          <div class="col-sm-6 audience text-right">
            <span class="count ion-person-stalker"></span>&nbsp;{{session.audience_count || "-"}}&nbsp;&nbsp;
            <span class="glyphicon glyphicon-tag"></span>&nbsp;{{session.audience}}
          </div>
        </div>
        <ul class="list-inline">
          <li ng-repeat="tag in session.tags track by $index" class="tag sm bg-primary">{{tag.name}}</li>
          <li class="pull-right" ng-if="session.video_link != null && session.video_link != ''" title="{{session.video_link}}">
            <a class="video-link" ng-href="{{session.video_link}}" target="_blank">
              <span class="ion-videocamera">&nbsp;</span><%= t('sessions.labels.video') %>
            </a>
          </li>
        </ul>

        <p markdown="session.summary"></p>

        <label><%= t('sessions.labels.description') %></label>
        <p markdown="session.description"></p>
      </div>
    </div>
    <br><hr>

    <div class="row session-comment" fade-animation="true">
      <div class="col-sm-2 text-center">
        <%= image_tag(current_user.avatar_url, :class => 'avatar lg img-circle', :alt => current_user.email) %>
      </div>
      <div class="col-sm-8">
        <textarea type="text" class="form-control" placeholder="<%= t('sessions.placeholders.review') %>" ng-model="newSessionReview.body" rows="4" ng-class="{'invalid-border': newSessionReview.invalidBody}"></textarea><br>

        <label for="input-description" class="control-label" ng-class="{'text-danger': newSessionReview.invalidScore}">
          <%= t('sessions.labels.score') %>: &nbsp;
        </label>
        <label class="radio-inline" ng-repeat="i in [1,2,3,4,5,6,7,8,9,10]" ng-class="{'text-danger': newSessionReview.invalidScore}">
          <input type="radio" name="inlineScoreOptions" ng-click="newSessionReview.score = i">{{i}}
        </label>

        <button class="btn btn-primary pull-right" ng-click="postReview()">
          <%= t('sessions.buttons.submit_review') %>
        </button>
      </div>
    </div>

    <div class="col-sm-10 text-right" style="padding-right:5px;margin:20px 0"><hr>
      <div class="btn btn-default">
        <%= link_to t('sessions.buttons.cancel'), "#/sessions/show/{{session.id}}" %>
      </div>
    </div>
  </div>
<% else %>
  <div class="no-review-access">
    <h4 class="text-muted text-center">
      <%= t('sessions.no_access.reviews') %> <br><br>
      <span class="ion-sad"></span>
    </h4>
  </div>
<% end %>