<% if current_user and can? :accept, Review and can? :reject, Review%>
  <div class="row col-sm-offset-1 col-sm-10" ng-controller="ReviewsController" ng-init="loadSessionReviews()">
    <hr><h3><%= t('reviews.labels.current') %></h3>

    <table class="table table-hover table-condensed" ng-if="session.reviews.length > 0">
      <thead>
        <th width="8%" class="text-center"><%= t('reviews.labels.status') %></th>
        <th width="12%" class="text-center"><%= t('reviews.labels.score') %></th>
        <th width="20%" class="text-center"><%= t('reviews.labels.reviewer') %></th>
        <th width="60%"><%= t('reviews.labels.feedback') %></th>
      </thead>
      <tr ng-repeat="review in session.reviews" class="review-summary">
        <td class="status text-center" title="{{review.status}}">
          <span ng-class="{'glyphicon glyphicon-ok text-success': isAcceptedReview(review.status), 'glyphicon glyphicon-remove text-danger': isRejectedReview(review.status), 'glyphicon glyphicon-refresh text-warning': isPendingReview(review.status)}" style="font-size:120%"></span>
        </td>
        <td class="score text-center" ng-style="{'color': review.score.bgColor}">
          <strong>{{review.score.text}}</strong>
        </td>
        <td class="reviewer text-center">
          <span>{{review.reviewer}}</span><br>
          <span ng-if="review.second_reviewer != null"><small>({{review.second_reviewer}})</small></span>
        </td>
        <td>
          <p markdown="review.body"></p><hr>
          <label><%= t('reviews.labels.comment_for_admins') %></label>
          <p markdown="review.private_body"></p>
          <div ng-if="isPendingReview(review.status)" class="actions">
            <button class="btn btn-sm btn-success" confirmed-action="acceptReview(review)" confirm-click="<%= t('reviews.buttons.accept.confirmation') %>">
              <span class="glyphicon glyphicon-ok"></span>&nbsp;<%= t('reviews.buttons.accept.text') %>
            </button>
            <button class="btn btn-sm btn-danger" confirmed-action="rejectReview(review)" confirm-click="<%= t('reviews.buttons.reject.confirmation') %>">
              <span class="glyphicon glyphicon-remove"></span>&nbsp;<%= t('reviews.buttons.reject.text') %>
            </button>
          </div>
        </td>
      </tr>
    </table>

    <h5 ng-if="session.reviews.length == 0"><%= t('reviews.labels.no_reviews') %></h5>
    <br><br><br>
  </div>
<% end %>
