<div ng-cloak ng-init="show()" fade-animation="true" class="row">
  <div class="row session-detail">
    <div class="col-sm-2 text-xs-center">
      <img ng-src="{{session.author.avatar_url}}" class="avatar lg img-circle">
      <div class="author">{{session.author.name}}</div>
      <div class="text-muted date" time-from-now="session.date"></div>
    </div>
    <div class="col-sm-8">
      <h2>
        {{session.title}}
        <a ng-if="session.editable" ng-href="#/sessions/edit/{{session.id}}" class="btn btn-sm btn-success pull-xs-right" style="margin:10px">
          <%= t('sessions.buttons.edit_session') %> &nbsp; 
          <span class="fa fa-pencil" aria-hidden="true"></span>
        </a>
      </h2>
      <div class="row">
        <div class="track col-sm-6">{{session.theme}} - {{session.track}}</div>
        <div class="col-sm-6 audience text-xs-right">
          <span ng-if="session.audience_count != null"><span class="count fa fa-users"></span>&nbsp;{{session.audience_count}} - </span>{{session.audience}}
        </div>
      </div>
      <ul class="list-inline">
        <li ng-repeat="tag in session.tags track by $index" class="tag sm bg-primary">{{tag.name}}</li>
        <li class="pull-xs-right" ng-if="session.video_link != null && session.video_link != '' && session.video_link != '-'" title="{{session.video_link}}">
          <a class="video-link" ng-href="{{session.video_link}}" target="_blank">
            <span class="fa fa-video-camera">&nbsp;</span><%= t('sessions.labels.video') %>
          </a>
        </li>
      </ul>

      <label><%= t('sessions.labels.summary') %></label>
      <p markdown="session.summary"></p>

      <label><%= t('sessions.labels.description') %></label>
      <p markdown="session.description"></p>
    </div>
  </div>
  <br><hr>

  <div ng-include="'templates/sessions/comments.html'"></div>

  <div class="col-sm-10 text-xs-right" style="padding-right:5px;margin:20px 0"><hr>
    <% if current_user and can? :review, SessionProposal %>
      <div class="btn btn-success">
        <a ng-href="#/sessions/review/{{session.id}}"><%= t('sessions.buttons.start_review') %></a>
      </div>
    <% end %>
    <div class="btn btn-secondary"><%= link_to t('sessions.buttons.back'), "#/sessions" %></div>
  </div>

  <div ng-include="'templates/sessions/reviews_summary.html'" ng-if="session != undefined"></div>
</div>