<h2 class="text-center">Welcome!</h2><br>

<div class="col-sm-7">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "form-horizontal" }) do |f| %>

    <div class="form-group">
      <label for="input-email" class="col-sm-2 control-label">Email</label>
      <div class="col-sm-8">
        <%= f.email_field :email, autofocus: true, class: "form-control", id: "input-email", placeholder: "Email" %>
      </div>
    </div>

    <div class="form-group">
      <label for="input-password" class="col-sm-2 control-label">Password</label>
      <div class="col-sm-8">
        <%= f.password_field :password, autocomplete: "off", class: "form-control", id: "input-password", placeholder: "Password" %>
      </div>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-8">
          <%= f.check_box :remember_me %>
          <small><%= f.label 'Remember me' %></small>
          <%= link_to "Forgot your password?", new_password_path(resource_name), class: "pull-right" %><br />
        </div>
      </div>
    <% end -%>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-8">
        <button id="signin-button" type="submit" class="btn btn-primary">Login</button>
      </div>
    </div>
  <% end %>
</div>

<%= render "devise/shared/social_login" %>
