<h2 class="text-xs-center"><%= t('devise.title.new_sessions') %></h2><br>

<div class="col-sm-7">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <div class="form-group row">
      <label for="input-email" class="col-sm-2 form-control-label"><%= t('devise.labels.email') %></label>
      <div class="col-sm-8">
        <%= f.email_field :email, autofocus: true, class: "form-control", id: "input-email", placeholder: t('devise.labels.email') %>
      </div>
    </div>

    <div class="form-group row">
      <label for="input-password" class="col-sm-2 form-control-label"><%= t('devise.labels.password') %></label>
      <div class="col-sm-8">
        <%= f.password_field :password, autocomplete: "off", class: "form-control", id: "input-password", placeholder: t('devise.labels.password') %>
      </div>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="form-group row">
        <div class="col-sm-offset-2 col-sm-8">
          <%= f.check_box :remember_me %>
          <%= f.label t('devise.labels.remember_me') %>
          <%= link_to t('devise.labels.forgot_password'), new_password_path(resource_name), class: "pull-xs-right" %>
          <br>
        </div>
      </div>
    <% end -%>

    <div class="form-group row">
      <div class="col-sm-offset-2 col-sm-8">
        <button id="signin-button" type="submit" class="btn btn-primary"><%= t('devise.buttons.login') %></button>
      </div>
    </div>
  <% end %>
</div>

<%= render "devise/shared/social_login" %>
