<p id="notice"><%= notice %></p>

<p>
  <strong>Author:</strong>
  <%= @session_proposal.author %>
</p>

<p>
  <strong>Title:</strong>
  <%= @session_proposal.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @session_proposal.description %>
</p>

<p>
  <strong>Comments:</strong>
  <ul>
    <% @session_proposal.comments.each do |comment| %>
      <li><%= "#{comment.body} (#{comment.author})" %></li>
    <% end %>
  </ul>
</p>

<%= form_for([@session_proposal, Comment.new]) do |f| %>
  <div class="field">
    <%= f.label :author %><br>
    <%= f.text_field :author %>
  </div>
  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<%= link_to 'Edit', edit_session_proposal_path(@session_proposal) %> |
<%= link_to 'Back', session_proposals_path %>
