<br>
<div class="col-sm-12">
  <% @roles.each do |role| %>
    <h3><%= t('roles.labels.current', role: role.name.pluralize(2).titlecase) %></h3><br>

    <div class="col-sm-6">
      <table class="table table-hover table-sm">
        <thead>
          <th><%= t('devise.labels.first_name') %></th>
          <th><%= t('devise.labels.last_name') %></th>
          <th><%= t('devise.labels.email') %></th>
          <th></th>
        </thead>
        <% role.users.each do |user| %>
          <tr>
            <td><%= user.first_name %></td>
            <td><%= user.last_name %></td>
            <td><%= user.email %></td>
            <td>
              <%= link_to t('roles.buttons.revoke.text'), role_path(role, user_id: user.id), data: { confirm: t('roles.buttons.revoke.confirmation', name: user.full_name) }, method: :delete, class: "btn btn-danger btn-sm pull-xs-right" %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
    <br>
    <div class="col-sm-offset-1 col-sm-5">
      <h4><%= t('roles.labels.assign_new', role: role.name.titlecase) %></h4>

      <%= form_tag(role_path(role), method: :patch) do -%>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon"><%= t('devise.labels.email') %></div>
            <input type="email" autofocus="autofocus" class="form-control" name="email" disable-if-empty="#<%= "assign-#{role.name}-btn" %>">
            <span class="input-group-btn">
              <%= submit_tag t('roles.buttons.assign'), id: "assign-#{role.name}-btn", class: "btn btn-primary disabled" %>
            </span>
          </div>
        </div>
      <% end -%>
    </div>
    <div class="row col-sm-12"><hr></div>
  <% end %>
</div>
