<!DOCTYPE html>
<html ng-app="openCall">
<head>
  <title>OpenCall</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= stylesheet_link_tag '//code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css', :media => "all" %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  <script type="text/javascript">
    var BASE_URL = "<%= root_url %>";
    var CURRENT_USER_EMAIL = "<%= current_user.email if current_user %>";
    var CURRENT_USER_AVATAR = "<%= current_user.avatar_url if current_user %>";
    var MAX_SESSION_PROPOSAL_VOTES = parseInt("<%= MaxSessionProposalVotes %>");
  </script>
</head>
<body>
  <div class="navbar-wrapper">
    <div class="container">
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ng-href="<%= "#{root_url}#/home" %>">Call for papers</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <% if current_user %>
                <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" id="user-menu-link">
                    <%= current_user.email %> &nbsp;
                    <%= image_tag(avatar_for(current_user), :class => 'avatar img-circle', :title => current_user.email) %>
                    <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu" role="menu">
                    <li><%= link_to "Profile", edit_user_registration_path %></li>
                    <li><%= link_to "Change password", users_reset_password_path %></li>
                    <li class="divider"></li>
                    <li><%= link_to 'My proposals', "#{root_url}#/users/sessions" %></li>
                    <li><%= link_to 'My voted proposals', "#{root_url}#/users/voted_sessions" %></li>
                    <li><%= link_to 'My faved proposals', "#{root_url}#/users/faved_sessions" %></li>
                    <% if current_user.admin? %>
                      <li class="divider"></li>
                      <li class="dropdown-header">Administrator</li>
                      <li><%= link_to 'My reviews', "#{root_url}#/users/reviews" %></li>
                      <li><a href="#/home">Manage reviewers</a></li>
                    <% end %>
                    <% if current_user.reviewer? %>
                      <li class="divider"></li>
                      <li class="dropdown-header">Reviewer</li>
                      <li><%= link_to 'My reviews', "#{root_url}#/users/reviews" %></li>
                    <% end %>
                    <li class="divider"></li>
                    <li>
                      <%= link_to "Sign out", destroy_user_session_path, method: :delete, id: 'signout-link' %>
                    </li>
                  </ul>
                </li>
              <% else %>
                <li style="padding:2px 5px">
                  <div class="navbar-btn">
                    <%= link_to t('sessions.buttons.sign_up'), new_user_registration_path, class: "btn btn-primary btn-sm" %>
                  </div>
                </li>
                <li style="padding:2px 5px">
                  <div class="navbar-btn">
                    <%= link_to t('sessions.buttons.sign_in'), new_user_session_path, class: "btn btn-default btn-sm" %>
                  </div>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>

  <a id="scroll-to-top" style="visibility:hidden"></a>
  <div loading-spinner></div>
  <div class="container content">
    <%= render :partial => 'layouts/messages' %>  

    <%= yield %>
  </div>
</body>
</html>
